In [8]:
import pandas as pd
import numpy as np

In [4]:
parsed = pd.read_csv('csv_mindex.csv',index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     d         15      16

In [5]:
pd.read_csv('ex4.csv',skiprows=[0,2,3])

     a   b   c    d message
0  1.0   2   3    4   hello
1  5.0   6   7    8   world
2  9.1  11  12  foo     NaN

In [6]:
result = pd.read_csv('ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [7]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [9]:
result = pd.read_csv('ex5.csv',na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [4]:
sentinels = {'message':['foo','NA'],'something':['two']}
pd.read_csv('ex5.csv',na_values = sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [5]:
#6.1.1
pd.options.display.max_rows = 10

In [6]:
result = pd.read_csv('ex6.csv')
print(result)

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [7]:
pd.read_csv('ex6.csv',nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [8]:
chunker = pd.read_csv('ex6.csv',chunksize=1000)
chunker

In [9]:
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(),fill_value=0)
tot = tot.sort_values(ascending=False)
tot[:10]

key
E    368
X    364
L    346
O    343
Q    340
M    338
J    337
F    335
K    334
H    330
dtype: object

In [4]:
data = pd.read_csv('ex5.csv')
print(data)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [5]:
data.to_csv('out.csv')

In [3]:
import sys
data.to_csv(sys.stdout,sep='/')

NameError: name 'data' is not defined

In [14]:
data.to_csv(sys.stdout,na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [6]:
data.to_csv(sys.stdout,index=False,header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [7]:
data.to_csv(sys.stdout,index=False,columns=['a','b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [9]:
datas = pd.date_range('1/1/2000',periods=7)
ts = pd.Series(np.arange(7),index=datas)
ts.to_csv('tseries.csv')

In [13]:
#6.1.3
import csv
f=open('ex7.csv')
reader = csv.reader(f)
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [14]:
with open('ex7.csv') as f:
    lines = list(csv.reader(f))

In [18]:
header,values = lines[0],lines[1:]
data_dict = {h : v for h, v in zip(header,zip(*values))}
print(data_dict)
#这里的代码比较复杂，就是分成三步
#第1步定义了header和values的值，分别为第一行，和剩下的所有行
#第2步用了解包values，将每一行作为独立参数传递给zip（）
#zip函数是把多个不同的列形式的数组，组成为一个数组
#第3步是创建字典，再用一次zip函数，将header和拆分后的values组合成一个字典。
#完全可以分解成一下的代码，更加直观易懂

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [19]:
# 1. 转置 values，使得行数据变为列数据
transposed_values = zip(*values)

# 2. 将 header 和转置后的数据进行配对
paired_data = zip(header, transposed_values)

# 3. 将配对后的数据转换为字典
data_dict = dict(paired_data)

# 输出结果
print(data_dict)

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [20]:
#6.1.4
data = pd.read_json('example.json')
print(data)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [21]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}